
.icon-linkedin-2:before { content: '\e800'; } /* '' */
.icon-cancel-alt-filled:before { content: '\e801'; } /* '' */
.icon-eq:before { content: '\e802'; } /* '' */
.icon-divide:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
